{% extends 'base.html'%}

{% block title %}
Страница о нас
{% endblock %}

{% block content %}
<h1> О нас</h1>
   <hr>
    <p>Этот сайт создан для бесплатной генерации и скачивания QR-кодов.</p>
    <p>Вы можете ввести любой текст или ссылку и получить QR-код для скачивания, изображения скачиваются в png-форматие.</p>
    <hr>
    <p><strong>Технологии:</strong> python(pycharm 3.13), Flask и его библиотеки, HTML/CSS</p>
    <p>Сайт создан как проектный продукт для итогового проекта по теме "QR-код в современном мире" Русиновой М. в 2026 году.</p>
<p>Информация взята из итогового проекта "QR-код в современном мире", ссылки на источники информации находятся в Библиографии проекта.</p>
<hr>
<p> Источники изображений:</p>
<p>Масахиро Хара: <a href="https://www.sbs.com.au/language/japanese/en/podcast-episode/father-of-qr-code-says-the-technologys-future-is-in-storing-important-medical-information/yz3fln3b7" target="_blank">источник(открывается только с ВПН)</a></p>
<p>Qr-код во времена пандемии:<a href="https://www.istockphoto.com/ru/search/more-like-this/1296860378?assettype=image" target="_blank">источник</a></p>
<p>Сравнение QR-код модель 1 и QR-код модель 2:<a href="https://club.dns-shop.ru/blog/t-78-smartfonyi/47350-chto-takoe-qr-kod-kak-im-polzovatsya-i-kak-sozdat-svoi-kod/?utm_referrer=https%3A%2F%2Fyandex.by%2Fimages%2Fsearch%3Fimg_url%3Dhttps%253A%252F%252Fi0.wp.com%252Fmedia.qrtiger.com%252Fblog%252F2022%252F08%252Fqr-code-model1_model2jpg_800.jpeg%26lr%3D157%26pos%3D0%26rpt%3Dsimage%26source%3Dserp%26text%3Dqr%2520code%2520model%25201%2520%25D0%25B8%2520model%25202" target="_blank">источник</a></p>
<p>Micro Qr-код:<a href="https://commons.wikimedia.org/wiki/Category:Micro_QR_codes">источник</a></p>
<p>IQR-код:<a href="https://en.wikipedia.org/wiki/QR_code">источник</a></p>
{% endblock %}
