{% extends 'base.html'%}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Как создается QR-код</h1>
   <hr>
<h2>QR-код это результат сложного, но четко организованного процесса преобразования данных. Этот процесс можно сравнить с работой переводчика, который сначала разбирает исходный текст, а затем записывает его специальными символами.</h2>
<hr>
<p>Всё начинается с того, что программа-генератор анализирует, какую именно информацию ей нужно зашифровать. От этого зависит так называемый режим кодирования, который выбирается для максимальной компактности будущего кода.</p>
<p><strong>Цифровой режим</strong>: используется, если ввести только цифры (от 0 до 9). Это самый экономичный режим.</p>
<p><strong>Буквенно-цифровой режим</strong>: применяется для цифр, букв латинского алфавита (A–Z) и некоторых символов вроде пробела, знаков доллара ($), процента (%) и подобного.</p>
<p><strong>Байтовый режим</strong>: используется для любых символов, включая кириллицу или иероглифы. В этом режиме данные кодируются в последовательности байтов (например, в кодировке UTF-8).</p>
<p><strong>Режим Кандзи</strong>: специальный режим для японских иероглифов, разработанный создателями QR-кода для максимальной экономии места.</p>
<p>Выбранный режим определяет правила, по которым текст или цифры переводятся в двоичный код. К этой последовательности добавляется служебная информация: сам идентификатор режима и длина сообщения, чтобы сканер понимал, с чем имеет дело. Полученная битовая последовательность обрабатывается алгоритмом Рида-Соломона. Алгоритм разбивает данные на блоки и для каждого блока вычисляет специальные резервные данные (байты коррекции).</p>
<p>Существует четыре уровня коррекции (L, M, Q, H), которые позволяют восстановить от 7% до 30% информации. Чем выше уровень коррекции, тем больше места в коде занимает служебная информация и тем меньше остается для самих данных. После того как данные готовы и защищены, начинается этап сборки матрицы.</p>
<p>Сначала на поле будущего QR-кода размещаются обязательные "маячки" - три квадрата по углам и выравнивающие узоры. Они нужны для ориентации сканера. Затем в оставшееся пространство по строгой схеме (змейкой) укладываются биты информации. Черный пиксель означает "1", белый - "0". Чтобы код не получился слишком скучным (например, с огромными пустыми пятнами) и легко читался сканером, на него накладывается маска - узор, который "перемешивает" модули по определенным математическим правилам.</p>
<p>После применения маски код приобретает свой финальный вид. Его можно сохранить как растровое изображение (PNG, JPEG) и использовать для печати или размещения в интернете. Таким образом, любой текст, ссылка или визитка сначала превращается в математическую модель, потом в двоичный код с резервными копиями, и лишь затем — в тот самый квадратик, который мы сканируем телефонами.</p>
{% endblock %}