{% extends 'base.html'%}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>QR-код в современном мире</h1>
   <hr>
    <p>Еще пять лет назад QR-коды можно было заметить только в кафе и ресторанах, на выставках в музеях и в редких рекламных кампаниях.
    <p>Сегодня в некоторых странах QR-код обязателен для предъявления, если хочется сходить в ресторан или на концерт. Это показывает, насколько стали важны QR-коды в современном мире. Про QR код есть огромное количество информации. Ничего удивительного: сейчас сложно найти отрасль, где бы он не применялся. Тут и банковские операции, и идентификация товаров, и цифровые визитки.</p>
    <p>Преимущества очевидны: считывается мгновенно любым смартфоном, причём даже если треть QR кода повреждена, а еще хранит до 2935 байт двоичного кода</p>
    <p>На сайте можно узнать: <a href="/history">историю появления QR-кодов</a>, <a href="/types"> виды QR-кодов </a>, <a href="/gen">как создается QR-код</a>.</p>

{% endblock %}