{% extends 'base.html' %}

{% block title %}Виды QR-кодов{% endblock %}

{% block content %}
    <h1>Виды QR-кодов</h1>
<hr>
    <h2>Классифицировать QR-коды можно по-разному: по функциональному назначению : как они работают, и по техническим стандартам : их форма и устройство.</h2>
<hr>
<p>Самая популярная классификация QR-кодов это классификация по <strong>функциональности</strong>: статические и динамические QR-коды.</p>
<p><strong>Статический QR-код</strong> — это QR-код, который после создания нельзя перезаписать. Он может хранить информацию, которая не подлежит редактированию. </p>
<p><strong>Динамический QR-код</strong> - это тип QR-кода, который позволяет изменять информацию, зашифрованную в нем, без необходимости создания нового кода. </p>
<p> - Статические QR-коды нельзя редактировать после их создания и их невозможно отследить. Динамические QR-коды позволяют редактировать содержимое QR-кода столько раз, сколько требуется, их можно отслеживать, и они позволяют перенацеливать людей онлайн.</p>
<p> - Более того, сканирование статических QR-кодов занимает больше времени по сравнению с динамическими QR-кодами. </p>
<p> - Статические QR-коды используются, когда нужно закодировать информацию, которая не будет меняться долгое время: ссылка на главную страницу сайта, контактная информация на визите, данные для подключения к Wi-fi, адрес электронной почты, номер телефона или простой текст. Динамические QR-коды используются, когда нужно, чтобы владелец QR-кода мог изменить конечный URL-адрес в своем аккаунте на сервисе в любой момент, при этом сам узор QR-кода (который уже напечатан) остается прежним: ссылки на временные акции, ссылка на последнюю статью на сайте, кампании, где важно отслеживать количество сканирований в разных местах.</p>
<p><strong>На моем сайте генерируются статичные QR-коды: после генерирования QR-код нельзя изменить.</strong></p>
<hr>
<p>Также QR-коды классифицируются по <strong>структуре</strong> и своей <strong>ёмкости</strong>: </p>
<div class="sravnenie-image">
        <img src="{{ url_for('static', filename='img/sravnenie.png') }}" alt="Сравнение">
        <p class="caption">Сравнение QR-кода модели 1 и QR-кода модели 2</p>
    </div>
<p><strong>QR Code Model 1 (Модель 1)</strong>: это оригинальная, самая первая версия, прототип модели 2 и Micro QR. Он позволяет кодировать до 1167 цифр (707 символов). Сегодня используется редко. </p>
<p><strong>QR Code Model 2 (Модель 2)</strong>: такой код содержит шаблон выравнивания для лучшей регулировки положения и имеет большую плотность данных, чем предшественник. Самая большая версия способна хранить до 7089 цифр (4296 символов).</p>
<div class="micro-image">
        <img src="{{ url_for('static', filename='img/микро.png') }}" alt="микро">
        <p class="caption">Micro QR-код</p>
    </div>
<p><strong>Micro QR Code</strong>: уменьшенная версия традиционного QR-кода, который используется, когда пространство ограничено. У него присутствует только один шаблон позиционирования вместо трех. Микро-QR-коды могут различаться по размеру, самый маленький кодирует до 35 цифр (21 символа).</p>
<div class="iqr-image">
        <img src="{{ url_for('static', filename='img/iqr.png') }}" alt="iqr">
        <p class="caption">IQR-код</p>
    </div>
<p><strong>IQR Code</strong>: более продвинутая версия, которая может быть как квадратной, так и прямоугольной. Позволяет хранить до 40 000 цифр и обладает высокой устойчивостью к повреждениям — его можно считать даже при 50% разрушении рисунка.</p>
<p>Для большинства повседневных задач используется Model 2. Micro QR нужен для очень маленьких объектов, а iQR — для промышленных и специализированных целей.</p>
<p><strong>На моем сайте генерируется QR Code Model 2. </strong></p>
{% endblock %}